
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
</head>
<body>
        <div style="text-align:center">
            <h2>User Login</h2>
        </div>
        <div style="text-align:center">
            <label>Login Id</label>
            <input style="margin-left:10px" type="text" placeholder="Login id" class="form-control" autofocus />
            <br />
            <label style="margin-top:10px">Password</label>
            <input style="margin-top:20px;margin-left:10px" type="password" placeholder="password"/>
            <div style="margin-top:20px">
                <button type="submit">Login</button>
            </div>
        </div>
</body>
</html>
